---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="about" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <slot />
    </section>
  </main>
  <Footer />
  <section style="position:absolute; left:-8000px; top:0px;">
      <p><a href="https://oslotechsolutions.no/moderne-angular-kurs-oslo/">angular kurs oslo</a></p>
      <p><a href="https://oslotechsolutions.no/react-kurs-oslo/">react kurs oslo</a></p>
      <p><a href="https://oslotechsolutions.no/vuejs-kurs-oslo/">vue kurs oslo</a></p>
      <p><a href="https://oslotechsolutions.no/aspnet-core-kurs-oslo/">asp.net core kurs oslo</a></p>
      <p><a href="https://oslotechsolutions.no/spring-boot-kurs-oslo/">spring boot kurs oslo</a></p>
      <p><a href="https://oslotechsolutions.no/fastapi-kurs-oslo/">fastapi kurs oslo</a></p>
      <p><a href="https://oslotechsolutions.no/semantic-kernel-kurs-oslo/">semantic kernel kurs oslo</a></p>
      <p><a href="https://oslotechsolutions.no/langchain-kurs-oslo/">langchain kurs oslo</a></p>
      <p><a href="https://oslotechsolutions.no/webutvikling-kurs-oslo/">webutvikling kurs oslo</a></p>
</section>
</Layout>
